<div>
    <title>eWeek</title>

    <body>


        <nav class="navbar navbar-inverse navbar-fixed-top ">
            <div class="container-fluid">
                <div class="col-sm-12 col-xs-12"></div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed nav_toggle " data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar" overflow-x="hidden">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars btn_toggle"></span>
                        <!-- <span class="fa fa-bars"></span>
                        <span class="fa fa-bars"></span> -->
                    </button>
                    <div class="navbar-brand">
                        <a id="menu-toggle" href="#" class="glyphicon glyphicon-align-justify btn-menu toggle">
                        </a>
                        <!-- <img src="../assets/images/Logo_TV_2015.png" width="250%" height="10%" > -->
                        <a id="name" href="#">
                            <span>Name</span>
                        </a>
                    </div>
                </div>
                <div id="navbar" class="collapse navbar-collapse ">
                    <ul class="nav navbar-nav" id="right">
                        <li>
                            <form class="navbar-form navbar-center" role="search">
                                <div class="form-group form-search is-empty">
                                    <input class="form-control" placeholder="Search" type="text" id="text">
                                    <span class="material-input"></span>
                                    <span class="material-input"></span>
                                    <button class="btn btn-white btn-round btn-just-icon" type="submit">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                        <div class="ripple-container"></div>
                                    </button>
                                </div>
                            </form>
                        </li>
                        <li>
                            <a routerLink="/app-signin">
                                <span class="glyphicon glyphicon-user"></span>Sign In</a>
                        </li>
                        <li>
                            <a routerLink="/app-about"> About </a>
                        </li>
                        <li>
                            <a> sponsors </a>
                        </li>
                        <li class="dropdown">
                            <a>competition</a>
                            <div class="dropdown-content">
                                <a href="#">2017</a>
                                <a href="#">2016</a>
                                <a href="#">2015</a>
                            </div>

                        </li>

                        <li>
                            <a>contact us </a>
                        </li>



                    </ul>
                </div>


            </div>
        </nav>
    </body>
</div>