
  <div id="wrapper">
<app-first></app-first>
<div id="page-content-wrapper">
  <div id="page-content">
  <div class="container-fluid">
    
        <form class="well form-horizontal" action=" " method="post"  id="contact_form">
    <fieldset>
    
    <!-- Form Name -->
    <h2><b>Registration Form</b></h2><br>
    
    <!-- Text input-->
    
    <div class="form-group">
      <label class="col-md-4 control-label">First Name</label>  
      <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
     
      <input   name="first_name" class="form-control"  placeholder="First Name"
      required minlength="4" forbiddenName="bob"  type="text"
      [(ngModel)]="hero"  >
    </div>
      </div>
    </div>
    
    <!-- Text input-->
    
    <div class="form-group">
      <label class="col-md-4 control-label" >Last Name</label> 
        <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input name="last_name" placeholder="Last Name" class="form-control"  type="text">
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-md-4 control-label" for="gender">Gender</label>
      <div class="col-md-4 inputGroupContainer">
         <div class="input-group">
            <div class="btn-group radio-group">
               <label class="btn btn-primary not-active">Male <input type="radio" value="male" name="gender"></label>
               <label class="btn btn-primary not-active">Female <input type="radio" value="female" name="gender"></label>
            </div>
         </div>
    </div>
</div>
    
      <div class="form-group"> 
      <label class="col-md-4 control-label">Department</label>
        <div class="col-md-4 selectContainer">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
        <select name="department" class="form-control selectpicker" placeholder="Department">
          <option >Department......</option>
          <option>Department of Engineering</option>
          <option>Department of Agriculture</option>
          <option >M.B.A</option>
          <option >Degree</option>
         
        </select>
      </div>
    </div>
    </div>

    <div class="form-group"> 
      <label class="col-md-4 control-label">Event</label>
        <div class="col-md-4 selectContainer">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
        <select name="Event_selection" class="form-control  ">
          <option >Select Event</option>
          <option>Singing competition</option>
          <option>Painting competition</option>
          <option >Dancing competition</option>
        </select>
      </div>
    </div>
    </div>
      

    <!-- Text input-->
   
<!--       
           <div class="form-group">
      <label class="col-md-4 control-label">E-Mail</label>  
        <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
      <input name="email" placeholder="E-Mail Address" class="form-control"  type="text">
        </div>
      </div>
    </div>
    
    
           
    <div class="form-group">
      <label class="col-md-4 control-label">Contact No.</label>  
        <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
      <input name="contact_no" placeholder="(+91)" class="form-control" type="text">
        </div>
      </div>
    </div> -->

     <!-- file input       -->
    <div class="form-group">
      <label class="col-md-4 control-label">Upload audio</label>  
        <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
      <input name="file" placeholder=" file" class="form-control" type="file" accept="image/*,audio/*">  
        </div>
      </div>
    </div>
    
    
    
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-5 control-label"></label>
      <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
       <!-- <button type="submit" class="btn btn-warning submit"></button> -->
   <!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
  SUBMIT <span class="glyphicon glyphicon-send"></span>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        
      <div class="modal-body">
      <i>  <p id="success_msg">Registration is successfully completed
          <a class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-thumbs-up"></span> success
          </a>
        </p>
      </i>
         
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        <button type="button" class=" btn btn-success btn3d add" data-dismiss="modal" float="left"> Add another student</button>
        
      </div>
    </div>
  </div>
</div>
      </div>
      </div>
      
    </div>
    
    
    </fieldset>
    </form>
    </div>
  </div>
</div>
  </div>