
/* .sidebar-nav a{
    text-decoration:none;
}.sidebar-nava:hover{
    color:white;
}*/
.sidebar-nav li.active,
.sidebar-nav li a:hover{
     background-color:inherit;
     color:wheat;

} 
.icon{
    margin-left: 38px;
    width: 20px;
}

.t_name.active{
    color: wheat;
}