<div id="wrapper">
  <app-header></app-header>
  <div id="sidebar-wrapper">

    <body>

      <nav id="spy">

        <div class="container-fluid">
          <div class="col-md-12 col-sm-12">
            <ul class="sidebar-nav nav ">
              <span class="sidebar-brand">
                <li>
                  <a routerLink="/app-event">
                    <i class="fa fa-envelope icon"></i>
                    <i class="t_name">Events</i>
                  </a>
                </li>
                <li>
                  <a routerLink="/app-news">
                    <i class="fa fa-book icon"></i>
                    <i class="t_name">News</i>
                  </a>
                </li>
                <li>
                  <a routerLink="/app-notes">
                    <i class="fa fa-pencil-square-o icon"></i>
                    <i class="t_name">Notes</i>
                  </a>
                </li>
                <li>
                  <a routerLink="/app-calendar">
                    <i class="fa fa-calendar icon"></i>
                    <i class="t_name">Calendar</i>
                  </a>
                </li>
                <li class=" treeview-menu menu-open">
                  <a  class=" treeview-menu menu-open " id="dropdown1">
                    <i class="fa fa-folder icon"></i>
                    <i class="t_name">Dropdown</i>

                    <ul class="list-group" id="dd" hidden="true" role="menu">

                      <li class="list-group-item">
                        <a class="t_name" href="#">Sub Menu1</a>
                      </li>
                      <li class="list-group-item">
                        <a class="t_name" href="#">Sub Menu2</a>
                      </li>
                      <li class="list-group-item">
                        <a class="t_name" href="#">Sub Menu3</a>
                      </li>

                    </ul>
                  </a>
                </li>
                <li>
                  <a routerLink="#">
                    <i class="fa fa-sign-out icon"></i>
                    <i class="t_name">Signout</i>
                  </a>
                </li>
              </span>
            </ul>
          </div>
        </div>

      </nav>
      <!-- ........................................................... -->

      <!-- .............................................. -->
    </body>
  </div>
</div>