.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
}
#eventimage{
    text-align: center;
    align-content: center;
    width: 100%;
    height: 150px;
    font-family: inherit;
}
.icon{
    float: right;
}
textarea{
    resize: none;
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgb(252, 250, 248);
}
button {
    background-color: rgb(127, 194, 129); 
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.cbutton{
    background-color: rgb(243, 99, 99);
}
.submitbuttn{
    text-align: center;
}
.recent-updated{
    overflow-y: scroll;
    max-height: 550PX;
    /* overflow-x: hidden; */
    
}
legend{
    color: white;
}
.n_well{
    border: hidden;
}
.modal-content{
    background-color: white;
    color: #1E1F33;
}
.Head_line {
    color: rgb(20, 20, 20);
    font-size: 100px;
}
